/* Navigation section Completed */
* {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}



.HeadTag {
    width: 100%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}

.extra {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;
    text-decoration: none;
}



.menuIcon {
    display: none;
    cursor: pointer;
}

.navbarTag {
    display: flex;
    list-style: none;
}

.navbarTag li {
    padding: 6px;
    font-weight: 500;
    font-size: 1.2rem;
}

.link {
    color: #fff;
    /* transition: .5s; */
    padding: 5px 8px;
    text-decoration: none;
}

.link:hover {
    color: rgb(159, 210, 227);
    transition: 1s;
    border-bottom: 2px solid rgb(26, 68, 74);
}

.linkIc:hover {
    padding: 7px;
    border-radius: 20px;
    transition: 0.7s ease-in-out;
    background-color: rgb(1, 23, 16);

}
@media(max-width:768px) {
    .navbarTag {
        /* top: 100%; */
        /* width: 100%; */
        margin-top: 30px;
        display: none;
        position: absolute;
        flex-direction: column;
    }

    .navbarTag.active {
        display: flex;
    }

    .menuIcon {
        display: block;
    }
}